.slide-main {
	background-size: cover;
	background-position: center;
	height: 600px;
	padding: 0 100px;
}
.slider-item {
	padding:50px 0;
}
.slider-content {
	max-width: 1400px;
	margin: 0 auto;
}
.house-details {
	width: 453px;
	background: #FFFFFF;
	border: 8px solid rgba(234, 236, 240, 0.8);
	border-radius: 8px;
	padding: 30px 24px;
}
.content-card h2 {
	font-weight: 700;
	font-size: 64px;
	line-height: 76px;
	text-align: center;
	text-transform: capitalize;
	color: #030718;
	text-align: center;
	max-width: 80%;
	margin: 0 auto 20px;
}
.content-card h4 {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	text-transform: capitalize;
	color: #030718;
	width: 427px;
	margin: 0 auto;
}

.house-details .small-grey-btn {
    background: #515C77;
    border-radius: 12px;
    height: 49px;
    width: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    border: 3px #fff solid;
}
.house-details .black-color{background-color:#000;}
.house-header {
	display: flex;
	justify-content: space-around;
	margin: 0 -45px;
}
.house-body h4 {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-transform: capitalize;
	color: #343D4F;
}
.house-body .map-icon img {
	width: auto;
	margin-right: 4px;
	height: 17px;
}
.house-body {
	margin: 1rem 0;
}
.d-flex, .house-body p {
	display: flex;
	font-weight: 500;
	font-size: 15px;
	text-align: center;
	text-transform: capitalize;
	color: #515C77;
	margin-bottom: 0.8rem;
}
.house-fooer {
	display: flex;
	justify-content: space-between;
}
.house-fooer h6 {
	font-weight: 700;
	font-size: 24px;
	text-transform: capitalize;
	color: #515C77;
}
.arrow-icon {
	padding: 9px 20px;
}
.main-slider-card {
	position: relative;
}
.main-slider-card button.next-icon {
    position: absolute;
    top: 42%;
    right: 50px;
    z-index: 1;
    background: inherit;
    border: 0;
    padding: 0;
    width: auto;
}
.main-slider-card button.prev-icon {
	position: absolute;
    top: 42%;
    left: 50px;
    z-index: 1;
    background: inherit;
    border: 0;
    padding: 0;
    width: auto;
}
.small-grey-btn:hover {
	background: #030718;
}

.black-color:hover {
	background: #515c77;
}
@media only screen and (max-width:767px){

.house-details {width: 100%;padding: 20px 20px;}
.house-header { margin: 0 -15px;}
.house-details .small-grey-btn {font-size: 14px;height: 41px;padding: 0 11px;border-radius: 8px;line-height: 34px;}
.house-body h4 {font-size: 17px;}
.slide-main {padding: 0 1rem;height: 600px;background-position: bottom;}
.slider-item {
    padding: 20px 0;
}
.main-slider-card button.prev-icon, button.ant-btn.ant-btn-default.next-icon{display: none;}
}