
.header-wrapper {  display: inline-block;  width: 100%;}
.logo {width: 150px;float: left;}
.menuCon .ant-menu-item {padding: 0px 5px;}
.menuCon .ant-menu-submenu-title {padding: 10px 20px;}
.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {padding: 10px 15px;}
.menuCon .ant-menu-horizontal {border-bottom: none;}
.rightMenu li a {font-size: 18px;font-weight: 500;font-size: 20px;line-height: 24px;text-align: center;text-transform: capitalize;color: #343D4F;}
.ant-menu-horizontal > .ant-menu-item::after, .ant-menu-horizontal > .ant-menu-submenu::after {display: none;}
.rightMenu li a.add-property {height: 49px;background: #030718;border-radius: 20px;color: #fff;display: inline-block;line-height: 49px;font-size: 18px;padding: 0px 26px;}
.ant-menu-horizontal > .ant-menu-item a:hover {color: #515C77;}
.rightMenu li .add-property:hover {background: #515C77 ;color: #fff ;}
.rightMenu ul {display: flex;justify-content: flex-end;padding: 0;}
.menuCon .rightMenu ul li {padding-right: 0 !important;}
.rightMenu ul li:last-child {display: none;}
button.close-icon {background: inherit;border: 0;text-align: right;float: right;padding: 1rem;}
.menuCon .rightMenu {float: none;}
.barsMenu {float: right;height: 32px;padding: 6px;margin-top: 8px;display: none;background: none;}
.barsBtn {display: block;width: 20px;height: 2px;background: #1890ff;position: relative;}
.barsBtn:after,
.barsBtn:before {content: attr(x);width: 20px;position: absolute;top: -6px;left: 0;height: 2px;background: #1890ff;}
.barsBtn:after {top: auto;bottom: -6px;}
.ant-drawer-body {padding: 0;}
.barsMenu>span {display: block;}
.ant-drawer-body .ant-menu-horizontal>.ant-menu-item,
.ant-drawer-body .ant-menu-horizontal>.ant-menu-submenu {
display: inline-block;width: 100%;}
.ant-drawer-body .ant-menu-horizontal {border-bottom: none;}
.ant-drawer-body .ant-menu-horizontal>.ant-menu-item:hover {border-bottom-color: transparent;}

@media (min-width:992px) {
.menuCon .leftMenu {  float: none;}
}

 @media (max-width:991px) {
.ant-drawer-body span.ant-menu-title-content a.add-property {
background: #030718;color: #fff !important;font-size: 18px;padding: 8px 26px;}
ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light li a {font-weight: 500;font-size: 18px;line-height: 24px;text-align: center;text-transform: capitalize;color: #343D4F;}
.contact-details {display: none;}
.barsMenu {display: inline-block;}
.leftMenu,
.rightMenu {display: none;}
.logo a {margin-left: -20px;}
.menuCon .ant-menu-item,
.menuCon .ant-menu-submenu-title {padding: 1px 20px;}
.logo a {padding: 10px 20px;} 

}